[Unit]
Description=Avial Folders Adapter Service
Requires=avesterra.service
After=avesterra.service

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/AvesTerra/Executables
ExecStart=bash -c './avial_folders'
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
