[Unit]
Description=Avial Files Adapter Service
Requires=avesterra.service
After=avesterra.service

[Service]
Type=simple
ExecStart=/AvesTerra/Executables/avial_files
Restart=on-failure
RestartSec=2s
User=atra
Group=atra

[Install]
WantedBy=multi-user.target
